<div class="col-3 mt-2">

    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false"
            autocomplete="off">
        Home
    </button>

    <div class="Trainee">
        <a href="@Url.Action("index","Staff")">
            <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false"
                    autocomplete="off">
                Trainee Account
            </button>
        </a>
        <a href="@Url.Action("CreateTrainee","Staff")">
            <button type="button" class="btn btn-primary mt-2" data-toggle="button" aria-pressed="false"
                    autocomplete="off">
                Add new Trainee Account
            </button>
        </a>
    </div>

    <div class="trainer">
        <a href="@Url.Action("ViewAllTrainer","Staff")">
            <button type="button" class="btn btn-primary mt-2" data-toggle="button" aria-pressed="false"
                    autocomplete="off">
                View trainer
            </button>
        </a>
        <a href="@Url.Action("CreateTrainer","Staff")">
            <button type="button" class="btn btn-primary mt-2" data-toggle="button" aria-pressed="false"
                    autocomplete="off">
                Create new trainer
            </button>
        </a>
    </div>
    <div class="Cat">
        <a href="@Url.Action("ViewAllCategories","Staff")">
            <button type="button" class="btn btn-primary mt-2" data-toggle="button" aria-pressed="false"
                    autocomplete="off">
                Categories
            </button>
        </a>
        <a href="@Url.Action("CreateCategories","Staff")">
            <button type="button" class="btn btn-primary mt-2" data-toggle="button" aria-pressed="false"
                    autocomplete="off">
                Create Categories
            </button>
        </a>
    </div>
    <div class="Course">
        <a href="@Url.Action("ViewAllCourse","Staff")">
            <button type="button" class="btn btn-primary mt-2" data-toggle="button" aria-pressed="false"
                    autocomplete="off">
                Course
            </button>
        </a>
        <a href="@Url.Action("CreateCourse","Staff")">
            <button type="button" class="btn btn-primary mt-2" data-toggle="button" aria-pressed="false"
                    autocomplete="off">
                Create Course
            </button>
        </a>
    </div>
</div>
