@model IEnumerable<ASM2.Models.ApplicationUser>

@{
    ViewBag.Title = "Person";
    Layout = "~/Views/Staff/_LayoutPageStaff.cshtml";
}
<style>
    tbody tr {
        display: none;
    }
</style>
<div class="row mt-2">
    
    <div class="col-8">
        <form>
            <h2>View All Trainer Trainee</h2>
            <div class="dropdown mb-3">
                
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary active Trainer1">
                        <input type="radio" name="options" id="option1" checked> Trainer
                    </label>
                    <label class="btn btn-secondary Trainee1">
                        <input type="radio" name="options" id="option2"> Trainee
                    </label>
                    
                </div>
               

            </div>
            <input type="text" id="myInputT" onkeyup="myFunction()" placeholder="Search by names.." class="form-control mb-3" style="display:none">
            <input type="text" id="myInputS" onkeyup="myFunction()" placeholder="Search by names.." class="form-control mb-3" style="display:none">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Email</th>
                        <th scope="col">Name</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                        <th scope="col">Assign</th>
                        
                    </tr>
                </thead>
                @foreach (var a in Model)
                {
                    <tbody id="myTable">
                        <tr class="@a.Role">
                            <td scope="row">@Html.DisplayFor(model => a.Email)</td>
                            <td>@Html.DisplayFor(model => a.Name)</td>
                            <td>
                                <a href="@Url.Action("EditPerson", new {id = a.Id })">
                                    <button type="button" class="btn btn-primary mb-2">View detail</button>
                                </a>
                            </td>
                            <td>
                                <a href="@Url.Action("deletePerson", new {id = a.Id })">
                                    <button type="button" class="btn btn-primary mb-2">delete</button>
                                </a>
                            </td>
                            <td class="Trainer"> 
                                <a href="@Url.Action("AssignTrainerToCourse", new {id = a.Id })">
                                    <button type="button" class="btn btn-primary" style="margin-top:7px;">Assign this trainer</button>
                                </a>
                            </td>
                            <td class="Trainee">
                                <a href="@Url.Action("AssignTraineeToCourse", new {id = a.Id })">
                                    <button type="button" class="btn btn-primary" style="margin-top:7px;">Assign this trainee</button>
                                </a>
                            </td>
                        </tr>
                    </tbody>


                }
            </table>
        </form>

    </div>
</div>
<script>
    $("tr").remove(".Admin");
    $("tr").remove(".Staff");
    $('#myInputT').css('display', 'block');
    $('#myInputS').css('display', 'none');
    $('.Trainee').css('display', 'none');
    $('.Trainer').css('display', 'table-row');
    

    var a = true;
    $('.Trainee1').click(function () {
        $('#myInputS').css('display', 'block');
        $('.Trainer').css('display', 'none');
        $('.Trainee').css('display', 'table-row');
        $('#myInputT').css('display', 'none');
        console.log(1);
    });
    $('.Trainer1').click(function () {
        $('#myInputT').css('display', 'block');
        $('#myInputS').css('display', 'none');
        $('.Trainee').css('display', 'none');
        $('.Trainer').css('display', 'table-row');
        console.log(1);
    });

    $('#myInputS').on('keyup', function (event) {
        event.preventDefault();
        /* Act on the event */

        var input = $(this).val().toLowerCase();
        $('#myTable tr').filter(function () {

            $(this).toggle($(this).text().toLowerCase().indexOf(input) > -1);

            $('.Trainer').css('display', 'none');
            console.log(1);
        });
    });

    $('#myInputT').on('keyup', function (event) {
        event.preventDefault();
        /* Act on the event */

        var input = $(this).val().toLowerCase();
        $('#myTable tr').filter(function () {

            $(this).toggle($(this).text().toLowerCase().indexOf(input) > -1);

            $('.Trainee').css('display', 'none');
            console.log(1);
        });
    });

</script>

