@model ASM2.Models.ApplicationUser
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Trainer/_LayoutPageTrainer.cshtml";
}

<div class="col-8">
    <h2>Teacher Information</h2>
    <div class="card">
        <div class="card-body">
            <table class="table">



                <tr>
                    <td scope="row">@Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "font-weight-bold" })</td>
                    <td>@Html.LabelFor(m => m.WorkingPlace, htmlAttributes: new { @class = "font-weight-bold" })</td>
                    <td>
                        @Html.LabelFor(m => m.Telephone, htmlAttributes: new { @class = "font-weight-bold" })
                    </td>
                    <td>
                        @Html.LabelFor(m => m.Type, htmlAttributes: new { @class = "font-weight-bold" })
                    </td>

                </tr>


                <tr>
                    <td scope="row">@Html.DisplayFor(m => m.Name)</td>
                    <td>@Html.DisplayFor(m => m.WorkingPlace)</td>
                    <td>
                        @Html.DisplayFor(m => m.Telephone)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.Type)
                    </td>

                </tr>
            </table>
                <a href="@Url.Action("ChangePassword","Manage")">

                    Change Pass

                </a>

                <a href="@Url.Action("EditProfile","Trainer")">

                    Edit Profile

                </a>
        </div>
    </div>





</div>