@model ASM2.Models.ApplicationUser
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Trainee/_LayoutPageTrainee.cshtml";
}

<div class="col-8">

    <h2>Student Information</h2>
    <div class="card">
        <div class="card-body">
            <table class="table">



                <tr>
                    <td scope="row">@Html.LabelFor(m => m.Name, htmlAttributes: new { @class = "font-weight-bold" })</td>
                    <td>@Html.LabelFor(m => m.Education, htmlAttributes: new { @class = "font-weight-bold" })</td>
                    <td>
                        @Html.LabelFor(m => m.DOB, htmlAttributes: new { @class = "font-weight-bold" })
                    </td>
                    <td>
                        @Html.LabelFor(m => m.Department, htmlAttributes: new { @class = "font-weight-bold" })
                    </td>
                    <td>
                        @Html.LabelFor(m => m.TOEIC, htmlAttributes: new { @class = "font-weight-bold" })
                    </td>
                </tr>


                <tr>
                    <td scope="row">@Html.DisplayFor(m => m.Name)</td>
                    <td>@Html.DisplayFor(m => m.Education)</td>
                    <td>
                        @Html.DisplayFor(m => m.DOB)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.Department)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.TOEIC)
                    </td>
                </tr>





            </table>
            <a href="@Url.Action("ChangePassword","Manage")">

                Change Pass

            </a>

            
        </div>
    </div>





</div>

